img   {
       position: fixed;
       max-width: 33vw;
       max-height: 42vh;
       }

table {
       position: fixed;
       width:99%;
       left: 6px;
       z-index: -1;
       }

td    {
       padding: 1.5%;
       }
 
table tr:nth-child(odd) {
       background-color: red;
       }